<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- background -->
    <div id="background">
        <!-- main -->
        <main>
            <div id="container">
                <!-- utente -->
                <section class="contatti">
                    <div class="utente">
                        <div class="user-photo">
                            <div class="avatar">
                                <img class="avatar_pic" :src="user.avatar" alt="">
                            </div> 
                            <div class="name">{{user.name}}</div>
                        </div>
                        <!-- icons -->
                        <div class="icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="new-message row">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifica">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p id="gray">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- search -->
                    <div class="search">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" id="search-inp">
                    </div>
                    <!-- contatti -->
                    <div class="row" v-for="contact, i in contacts":key="i" @click="setActiveChat(i)":class="i === activeChat ? 'active' : null ">  
                        <div class="user-photo">
                            <div class="avatar">
                                <img class="avatar_pic" :src="contact.avatar" :alt="contact.name">
                            </div>    
                            <div class="friends"> 
                                <p class="name-friends"> {{contact.name}}</p>
                                <p class="last-chat"> {{lastMessage(contact.messages)}}</p>
                            </div>
                        </div>
                        <div class="last-message">
                            7/10/2021 18:23:10
                        </div>
                    </div>
                    
                </section>
                <!-- chats -->
                <section class="chat">
                    <div class="utente">
                        <div class="user-photo">
                            <div class="avatar">
                                <img class="avatar_pic":src="contacts[activeChat].avatar":alt="contacts[activeChat].name">     
                            </div> 
                            <div class="friends"> 
                                <p> {{contacts[activeChat].name}}</p>
                                <p class="login">Ultimo accesso oggi alle {{lastAccess(contacts[activeChat].messages)}}</p>
                            </div>
                        </div>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- chat -->
                    <div class="chat-container">
                        <div class="chat-friends">
                            <div class="message" :class="msg.status === 'sent' ? 'sent' : null" v-for="msg, i in contacts[activeChat].messages" :key="i">
                                <p class="text">{{msg.text}}</p>
                                <p class="date"> {{msg.date }}</p>
                            </div>
                        </div>
                    </div>    
                        <div class="container-message">
                            <i class="far fa-smile"></i>
                            <input type="new_message" placeholder=" Scrivi un messaggio" v-model="text"@keyup.enter="newMessage(contacts[activeChat].messages)">   
                            <i class="fas fa-microphone"></i>
                        </div> 
                </section>
            </div>
    
        </main>
    </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html> 